<template name="home">
    <div class="container">

        <div class="starter-template">
			{{> flashMessages}}
			
			{{#autoForm schema=formSchema id="insertDisturbForm" type="method" meteormethod="insertLog"}}
				<fieldset>
				  <legend>Disturb Log</legend>
				  {{> afQuickField name='reason'}}
				</fieldset>
				<button type="submit" class="btn btn-danger">Report</button>
			{{/autoForm}}
			
			<p>You have been disturbed {{counter}} times.</p>
			
        </div>
		
		<h3>
			Recent disturbs
		</h3>
		
		{{> reactiveTable class="table table-bordered table-hover" settings=recentLog}}

    </div>
</template>